body{
	margin-left: 160px;
	margin-right: 170px;
	background-color: grey;
}
.wrapper {
		margin: 20px;
    background-color: white;
	}

h1 {
	text-align: center;
	margin-top: 30px;
}
figure {
	  display: block; 
    text-align: center; 
    margin-top: 0; 
    margin-bottom: 5px;   
}
hr {
margin-top: 33px;
margin-bottom: 34px;
}
.prof {
	padding-top: 7px;
}
p {
padding: 4px;
}
a{
	padding: 5px;
}